/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@font-face {
font-family: 'Gotham Black';
font-style: normal;
font-weight: normal;
src: local('Gotham Black'), url('Gotham Black Regular.woff') format('woff');
}

@font-face {
font-family: 'Gotham Bold';
font-style: normal;
font-weight: normal;
src: local('Gotham Bold'), url('Gotham Bold.woff') format('woff');
}

@font-face {
font-family: 'Gotham Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Gotham Bold Italic.woff'), url('Gotham Bold Italic.woff ') format('woff');
}


@font-face {
font-family: 'Gotham Light';
font-style: normal;
font-weight: normal;
src: local('Gotham Light'), url('Gotham Light.woff') format('woff');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*new code*/
@media screen and (min-width: 992px){
.col-sm-4 {
    width: 33%;
}
.col-sm-6 {
    width: 50%;
}
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
	
}
img.wide{
	width:100%;
    margin-top: -7px;
}
.logo-wrap {
    text-align: center;
    padding: 40px 0px;
}
.logo {
    width: 110px;
}
.text-header-wrap {
    height: 214px;
    position: relative;
}
.text-header {
    position: absolute;
    bottom: 0;
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
	color:#d13138;
    font-family: 'Gotham Bold Italic';
}
.slider {
    display: inline-block;
    width: 100%;
    text-align: center;
	margin-bottom:10px;
}
.form-content {
   padding: 68px 0px;
}
.text-spa {
    text-align: center;
    color: #d13138;
    font-size: 20px !important;
    font-family: 'Gotham Light';
    text-transform:uppercase;
}
.text-spa strong{
	font-weight:bold !important;
}
.form-block {
    padding: 30px 80px;
}
.form-block p {
    padding: 5px 0px;
}
.form-block label {
    font-size: 20px;
    width: 30%;
    display: inline-block;
    font-family: 'Gotham Light';
}
.form-block input[type="text"] {
    width: 67%;
    height: 25px;
}

.form-control {
    border-radius: 0;
    border-color: #ccc;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    box-shadow: none;
    display: inline-block;
}

.form-block input[type="submit"] {
    background-color: #d13138 !important;
    border: 0px !important;
    padding: 2px 4px !important;
    color: #fff !important;
    text-transform: uppercase;
    top: 24px;
    position: relative;
    font-family: Gotham 'Bold';
}
.text-block-wrapper {
    background-color: #d13138;
}
.text-block {
    font-family: 'Gotham Bold';
    font-size: 38px;
    font-weight: bold;
    color: #fff;
    padding: 155px !important;
}

.thank-block {
    font-family: 'Gotham Bold';
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding: 55px !important;
}

.footer {
    margin-top: 407px;
}

.iwContent {
    width: 100px;
    height: 40px;
}

@media (max-width: 768px), handheld and (orientation: landscape){
	.footer {
	    margin-top: 0px !important;
	}

	.text-block {
	    padding: 15px !important;
	    text-align: center;
	}

	.form-block {
	    padding: 30px 32px;
	}

	.text-header-wrap {
	    height: 72px !important;
	    position: relative;
	    text-align: center !important;
	    left: 14%;
	}
}

.error {
    color: red;
    font-size: 12px !important;
    width: 358px !important;
}

.copy{
    font-size: 17px;
	color:#d13138;
	text-align: center;
    font-family: 'Gotham Light';
}

.thank-block p {
    text-align: center;
}


@media only screen and (min-width:1440px){{
	.yvideo{
	height: 374px;
}

.thank-block {
    padding: 64px !important;
}

}
